import Navbar from './components/Navbar';
import { Routes, Route } from 'react-router-dom';

function App() {
  return (
    <div className="font-sans text-gray-800">
      {/* Navbar En Üstte */}
      <Navbar />

      {/* Sayfa İçerikleri (Navbar'ın altında kalmasın diye padding-top verdik: pt-20) */}
      <main className="pt-20 min-h-screen bg-gray-50">
        <Routes>
          <Route path="/" element={<div className="p-10 text-center text-3xl">Anasayfa İçeriği Buraya Gelecek</div>} />
          {/* Diğer sayfaları sonra ekleyeceğiz */}
        </Routes>
      </main>
    </div>
  );
}

export default App;